.header {
    background-image: url(../resources/Banner\ Image.png);
    background-color: grey;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px 90px;
    text-align: center;
}



.banner{
    
    padding: 177px 344px;
    
}

.banner-subtitle{
    margin-top: 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.banner-title{
    margin-top: 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}


/* Section 2 */

.category{
    text-align: center;
    width: 1500px;

}
.category > h1{
    padding-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}

.category > p{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.category > h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 48px;
}
.category > img{
    display: inline-block;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding-bottom: 120px;

}